.menu {
    width: 100%;
    margin: 4rem auto;
}

.menu-title {
    text-align: center;
}

.menu-title-name {
    font-size: 2rem;
    font-weight: 650;
}

.menu-title-img img {
    height: 0.2rem;
    width: 25vw;
    margin: 0.5rem 0 1rem 0;
}

.menu-content {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    width: 50%;
    height: 13rem;
    text-align: center;
    margin: 1.3rem 0;
    text-decoration: none;
}

.menu-item-img {
    width: 100%;
    height: 100%;
}

.react-carousel{
    display: none;
    width: 100%;
    height: 100%;
}
.menu-item:hover .react-carousel{
    display: block;
    width: 100%;
    height: 100%;
}

.carousel.carousel-slider{
    width: 100%;
    height: 100%;
}

.carousel .slider-wrapper{
    height: 100%;
}

.carousel .slider.animated{
    height: 100%;
}

.menu-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.menu-item-name {
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0.6rem 0;
}

@media screen and (min-width : 700px) {
    .menu {
        width: 90%;
        margin: 4rem auto;
    }

    .menu-item {
        width: 40%;
    }

}

@media screen and (min-width : 950px) {
    .menu {
        width: 80%;
        margin: 4rem auto;
    }

    .menu-item {
        width: 30%;
    }

    .menu-title-img img {
        height: 0.2rem;
        width: 18vw;
        margin: 0.5rem 0 1rem 0;
    }

}

@media screen and (min-width : 1250px) {
    .menu {
        width: 70%;
        margin: 4rem auto;
    }

    .menu-item {
        width: 18%;
    }
}