.popup{
    width: fit-content;
    height: fit-content;
    padding: 1rem 1.3rem 1.3rem 1.3rem;
    /* background-color: green; */
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    right: 2%;
    top: 9%;
    z-index: 999;
}

.popup-cart{
    background-color: green;
}
.popup-fav{
    background-color: pink;
}

.popup-s-icon{
    background-color: white;
    /* color: green; */
    padding: 0.4rem 0.5rem;
    border-radius: 50%;
    margin:  0 1rem 0 0;
}

.popup-cart-s-icon{
    color: green;
}

.popup-fav-s-icon{
    color: pink;
}

.popup-success-msg{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.1rem;
}

/* .popup-fav{
    width: fit-content;
    height: fit-content;
    padding: 1rem 1.3rem 1.3rem 1.3rem;
    background-color: pink;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    right: 2%;
    top: 9%;
    z-index: 999;
} */

/* .popup-fav-s-icon{
    background-color: white;
    color: pink;
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
    margin:  0 1rem 0 0;
}

.popup-fav-success-msg{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.1rem;
} */
