:root{
    --favIconColor : rgba(0, 0, 0, 0.3);
}

.recent{
    width: 100%;
    margin: 4rem auto;
}

.recent-title{
    text-align: left;
}

.recent-title-name{
    font-size: 2rem;
    font-weight: 550;
}

.recent-content{
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.recent-item{
    width: 50%;
    height: 13rem;
    text-align: center;
    margin: 1.3rem 0;
    text-decoration: none;
    position: relative;
}

.recent-item-img{
    width: 100%;
    height: 100%;
}

.recent-item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.recent-item-name{
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0.6rem 0;
}

.recent-item:hover .recent-hover-item{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
} 

.recent-hover-item{
    display: none;
    position: absolute;
    top: 4%;
    right: 4%;
}

.recent-hover-effect-btn{
    border: none;
    background-color: var(--favIconColor);
    padding: 0.4rem 0.5rem;
    margin: 0 0 0 1rem;
    border-radius: 50%;
    font-size: 1rem;
    text-align: center;
    color: white;
}

.recent-hover-effect-btn:hover{
    color: black;
    cursor: pointer;
}

@media screen and (min-width : 700px) {
    .recent{
        width: 90%;
        margin: 4rem auto;
    }

    .recent-item{
        width: 40%;
    }

}
@media screen and (min-width : 950px) {
    .recent{
        width: 80%;
        margin: 4rem auto;
    }

    .recent-item{
        width: 30%;
    }

    .recent-title-img img{
        height: 0.2rem;
        width: 18vw;
        margin : 0.5rem 0 1rem 0;
    }

}

@media screen and (min-width : 1250px){
    .recent{
        width: 70%;
        margin: 4rem auto;
    }

    .recent-item{
        width: 18%;
    }
}